        <!-- <div id="menu" class="w-[220px] bg-gray-900 min-h-screen z-10 text-slate-300 fixed left-0 h-screen overflow-y-scroll">
            <gifs-side-menu-header />
            <gifs-side-menu-options />
        </div> -->

<div id="menu"
  class="fixed top-0 left-0 h-screen bg-gray-900 text-slate-300 z-40 overflow-y-scroll
         w-[220px] sm:w-[220px] transform transition-transform duration-300 ease-in-out"
  [class.-translate-x-full]="!isOpen">
  <gifs-side-menu-header></gifs-side-menu-header>
  <gifs-side-menu-options></gifs-side-menu-options>
</div>



